<p>Este trabajo está bajo la licencia <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a></p>

<p>"Rails", "Ruby on Rails", y el logo de Rails logo son marcas comerciales de David Heinemeier Hansson. Todos los derechos reservados.</p>
